<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Welcome to Ionic</h2>
    <div class="row">
      <div class="col col-50"></div>
      <div class="col"><button class="button icon ion-arrow-up-c button-positive" ng-mousedown="move('up')" ng-mouseup="stopMoving()"></button></div>
    </div>
    <div class="row">
      <div class="col col-25"></div>
      <div class="col"><button class="button icon ion-arrow-left-c button-positive" ng-mousedown="move('left')" ng-mouseup="stopMoving()"></button></div>
      <div class="col col-25"><button class="button icon ion-arrow-down-c button-positive" ng-mousedown="move('down')" ng-mouseup="stopMoving()"></button></div>
      <div class="col col-25"><button class="button icon ion-arrow-right-c button-positive" ng-mousedown="move('right')" ng-mouseup="stopMoving()"></button></div>
    </div>
  </ion-content>
</ion-view>
